Checks: '-*,clang-diagnostic-*,llvm-*,misc-*,modernize-loop-convert,modernize-use-override,modernize-redundant-void-arg,modernize-use-nullptr,readability-redundant-*,readability-simplify-*,performance-*'
