Checks: '-*,clang-diagnostic-*,llvm-*,misc-*,modernize-use-emplace,modernize-use-equals-*,modernize-use-auto,modernize-loop-convert,modernize-use-override,modernize-redundant-void-arg,modernize-use-nullptr,readability-redundant-*,readability-make-member-function-const,readability-implicit-bool-conversion,readability-simplify-*,performance-*'
