[submodule "contrib/aes"]
	path = contrib/aes
	url = https://github.com/BrianGladman/aes.git
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest.git
[submodule "contrib/cxxopts"]
	path = contrib/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
